services:
  mongodb:
    image: mongo:7
    container_name: volcano_mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: volcano_backend
    restart: unless-stopped
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/volcano_dashboard
      - PORT=3000
      - DEFAULT_RADIUS_KM=25
      - DEFAULT_MIN_MAG=0.0
      - 'USER_AGENT=volcano-dashboard/1.0 (contact: louisbarthes1@gmail.com)'
      - VOLCANO_SEED_URL=https://volcanoes.usgs.gov/vsc/api/volcanoApi/volcanoesGVP
    depends_on:
      - mongodb
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: volcano_frontend
    restart: unless-stopped
    environment:
      - BACKEND_BASE_URL=http://backend:3000
      - MAPBOX_API_KEY=ta_cle
    depends_on:
      - backend
    ports:
      - "8501:8501"

volumes:
  mongo_data:
